
p{
  color: #585858;
  font-family:Arial, sans-serif;
  max-width:400px;
}

#title{
  font-family:Georgia, serif;
  font-size: 40px;
  background-color: #b2b2b2;
  color: #585858;
}

h2{
  font-family:Times, serif;
  font-size: 30px;
  color: #585858;
}

body{
  background-color:#dadada;
  text-align: center;
}

#image{
  text-align: center;
  border: 0;
}
nav li{
  list-style-type: none;
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
  display: block;
}

.menu-trigger{
  order: 1;
  display: block;
  color:black;
}

nav li a:link, nav li a:visited{
  display: block;
  color: #585858;
  background-color: #b2b2b2;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 6px;
  font-family: Helvetica, Arial, sans-serif;
}

nav a:hover, nav a:active{
  background-color: #8a8a8a;
}

.cards {
  padding: 0;
  display: none;
  flex-direction: column;
}

#footer{
  color: #585858;
  font-family: Georgia, serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  border-color:black;
  border-style: none;
  background-color: #b2b2b2;
}

.cards li {
    background-color: #f1b82d;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px 5px;
}

.cards{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
  border-style: none;
  width:30%;
}


@media screen and (min-width:600px){
.content{
  margin: 10px;
  padding: 10px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "f e"
}

.menu-trigger{
  display: none;
}

.card5{
  grid-area:e;
}

.card5 p{
  width: 90%;
}

img{
  border-style: none;
  grid-area: f;
  width: 300px;
}

.cards{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "a b c"
  "d d d"
}

.card1 {
  grid-area: a;
}

.card2 {
  grid-area: b;
}

.card3 {
  grid-area: c;
}

.card4{
  grid-area: d;
}

}

@media screen and (min-width:800px){
  .content{
    margin: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-areas:
    "f e";
    grid-gap: 20px;

  }

  .card5{
    grid-area:e;
    width: 80%;
  }


  img{
    border-style: none;
    grid-area: f;
    width: 350px;
  }

  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "a b c d"
  }

  .card1 {
        grid-area: a;
      }

  .card2 {
        grid-area: b;
      }

  .card3 {
          grid-area: c;
  }

  .card4{
    grid-area: d;
  }

  }
