p{
  color: #666666;
  font-family:"Merriweather",Arial, sans-serif;
}

h1{
  font-family:"Merriweather",Helvetica, serif;
  font-size: 2rem;
  background-color: dadada;
}

h2{
  font-family:"Merriweather" "Times New Roman", serif;
  font-size: 1rem;
}

body{
  background-color: #ffffff;
  text-align: center;
}

.center{
  text-align: center;
}

#image{
  text-align: center;
  border: 0;
}

#nav li{
  list-style-type: none;
  margin:0;
  padding:0;
  width: 25%;
  text-align: center;
}

#nav a:link, #nav a:visited{
  display: block;
  color: #ffffff;
  background-color: #b2b2b2;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color: #8a8a8a;
}

#nav{
  padding: 0;
}

#footer{
  color: black;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 0.8em;
  border-top: 1px solid black;
  border:1px 0px 0px 0px solid black;
  border-color:black;
  border-style: dotted;
  background-color: d0d0d0;
}

img{
  border-style: none;
}
